h1{text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
    
 header{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 div ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    align-items: center;
    align-content: center;
 }
